
        body {
            background-color: #f8f9fa;
            font-family: 'Times New Roman', Times, serif;
        }

        .navbar {
            margin-bottom: 20px;
        }

        .hidden {
            display: none;
        }

        section {
            width: 80%;
            margin: 0 auto;
        }

        .nav-item {
            font-size: 16px;
        }

        .nav-item:hover {
            border-bottom: 1px solid blue;
        }
