
        body{
        background-color: #f4f4f4;
        font-family: 'Times New Roman', serif;
        display: flex;
        flex-direction: column;
        min-height: 100vh; 
        margin: 0;
        }
        .nav-item {
            font-size: 16px;
        }

        .nav-item:hover {
            border-bottom: 1px solid blue;
        }

        .section-header {
            position: relative;
        }

        .back-arrow {
            position: absolute;
            top: 0;
            left: -40px;
            /* Adjust this value to position the arrow */
            cursor: pointer;
        }