body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

.navbar {
    height: 80px;
    /* Consistent height */
    padding: 1rem 2rem;
}

.nav-link {
    margin: 0 1rem;
    /* Adjust margin for better spacing */
    color: #ffffff !important;
    /* Ensure text color is white */
}

.nav-link:hover {
    border-bottom: 2px solid blue;
    /* Slightly thicker border */
    color: lightblue !important;
    /* Change text color on hover */
}

.dropdown-menu {
    background-color: #343a40;
    /* Ensure dropdown menu has the same background color */
}

.dropdown-item {
    color: #ffffff !important;
    /* Ensure text color is white */
}

.dropdown-item:hover {
    color: lightblue !important;
    /* Change text color on hover */
    background-color: #495057;
    /* Optional: change background color on hover */
}

.navbar-nav {
    align-items: center;
}

#room_payment {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    margin: 20px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}